body{
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
}
  
form{
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
}

h1{
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

p{
    color: #eee;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px;
}

input{
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.placeholder{
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.botao{
    background-color: #F88379;
    border-radius: 30px;
    font-size: 22px;
    padding: 20px;
    border: none; 
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 160px;
}

.botao:hover {
    color: #e9e5e5;
}

.botao:active{
  box-shadow: 0 5px #4d4645;
  transform: translateY(2px);
}

  